Repository LeslieLeung/glean: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, frontend-lint

pyright:
  name: pyright (backend)
  entry: bash -c 'cd backend && uv run pyright'
  language: system
  pass_filenames: false

frontend-lint:
  name: ESLint (frontend)
  entry: bash -c 'cd frontend && pnpm lint && pnpm typecheck'
  language: system
  pass_filenames: false

feat(rss): add full-text content extraction for articles
  backend/packages/rss/glean_rss/__init__.py
  backend/packages/rss/glean_rss/extractor.py
  backend/packages/rss/pyproject.toml
  backend/uv.lock
Due: pyright

feat(rss): enhance parser to extract full content from RSS feeds
  backend/packages/rss/glean_rss/parser.py
Due: pyright

feat(frontend): add content field to bookmark types and i18n
  frontend/packages/i18n/src/locales/en/bookmarks.json
  frontend/packages/i18n/src/locales/zh-CN/bookmarks.json
  frontend/packages/types/src/models.ts
Due: frontend-lint

docs: remove password strength requirements from documentation
  DEPLOY.md
  DEPLOY.zh-CN.md
Due: none

feat: add warning for insecure HTTP URLs and improve error handling in API configuration
  frontend/apps/web/src/components/ApiConfigDialog.tsx
  frontend/packages/i18n/src/locales/en/auth.json
  frontend/packages/i18n/src/locales/zh-CN/auth.json
Due: frontend-lint

feat: add health check response type and enhance API configuration dialog with reload state management
  frontend/apps/web/src/components/ApiConfigDialog.tsx
  frontend/packages/types/src/api.ts
Due: frontend-lint

refactor: update session management in create-admin script
  backend/scripts/create-admin.py
Due: pyright

chore: bump version to 0.2.4-alpha.1
  backend/pyproject.toml
  frontend/apps/admin/package.json
  frontend/apps/web/package.json
  frontend/package.json
  frontend/packages/api-client/package.json
  frontend/packages/i18n/package.json
  frontend/packages/logger/package.json
  frontend/packages/types/package.json
  frontend/packages/ui/package.json
  package.json
Due: none

docs: enhance comments in ReaderPage to clarify filter behavior
  frontend/apps/web/src/pages/ReaderPage.tsx
Due: frontend-lint

style: adjust grid gap in SettingsPage for improved layout
  frontend/apps/web/src/pages/SettingsPage.tsx
Due: frontend-lint

docs: update CLAUDE.md with best practices for using `window` vs `globalThis` and refactor code to use `window` for browser-specific APIs
  frontend/CLAUDE.md
  frontend/apps/web/src/components/ApiConfigDialog.tsx
  frontend/apps/web/src/components/Layout.tsx
  frontend/packages/api-client/src/crypto.ts
Due: frontend-lint

feat: enhance MCP server configuration and search functionality
  backend/apps/api/glean_api/config.py
  backend/apps/api/glean_api/mcp/server.py
  backend/apps/api/glean_api/mcp/tools/entries.py
  backend/apps/api/glean_api/mcp/tools/subscriptions.py
  backend/packages/core/glean_core/services/api_token_service.py
  backend/tests/integration/test_api_tokens.py
  backend/tests/integration/test_mcp_tools.py
  frontend/apps/web/src/components/tabs/APITokensTab.tsx
  frontend/packages/i18n/src/locales/en/settings.json
  frontend/packages/i18n/src/locales/zh-CN/settings.json
Due: pyright, frontend-lint

refactor: improve test database setup and enhance API token tests
  Makefile
  backend/tests/integration/conftest.py
  backend/tests/integration/test_api_tokens.py
  backend/tests/integration/test_mcp_tools.py
Due: pyright

feat: add MCP server proxy configuration and update URL notes in settings
  frontend/apps/web/nginx.conf
  frontend/packages/i18n/src/locales/en/settings.json
  frontend/packages/i18n/src/locales/zh-CN/settings.json
Due: none

fix: update MCP server host configuration
  backend/apps/api/glean_api/mcp/server.py
  backend/uv.lock
  frontend/apps/web/nginx.conf
Due: pyright

fix: update PostgreSQL image and enhance embedding maintenance tasks
  .github/workflows/ci-backend.yml
  backend/apps/worker/glean_worker/tasks/embedding_maintenance.py
  backend/packages/vector/glean_vector/clients/pgvector_client.py
  backend/packages/vector/glean_vector/services/validation_service.py
Due: pyright

feat: add PostgreSQL vector extension creation to database setup
  backend/conftest.py
Due: pyright

fix: update datetime handling to use UTC across services
  backend/packages/vector/glean_vector/clients/milvus_client.py
  backend/packages/vector/glean_vector/services/embedding_service.py
  backend/packages/vector/glean_vector/services/preference_service.py
Due: pyright

Fix pgvector migration and score client init
  backend/apps/api/glean_api/dependencies.py
  backend/packages/database/glean_database/migrations/versions/b51dbf4f4d2a_add_pgvector_backend_tables.py
Due: pyright

Normalize iframe embed URLs in extracted HTML
  backend/apps/api/glean_api/routers/entries.py
  backend/apps/worker/glean_worker/main.py
  backend/apps/worker/glean_worker/tasks/entry_fulltext.py
  backend/apps/worker/glean_worker/tasks/feed_fetcher.py
  backend/packages/core/glean_core/schemas/entry.py
  backend/packages/core/glean_core/services/entry_service.py
  backend/packages/database/glean_database/migrations/versions/c1f2d7c9b8a1_add_readability_content_to_entries.py
  backend/packages/database/glean_database/models/entry.py
  backend/packages/rss/glean_rss/extractor.py
  backend/packages/rss/tests/test_extractor.py
  backend/packages/vector/glean_vector/services/embedding_service.py
  frontend/apps/web/src/components/ArticleReader.tsx
  frontend/packages/api-client/src/__tests__/services/entries.test.ts
  frontend/packages/api-client/src/services/entries.ts
  frontend/packages/i18n/src/locales/en/reader.json
  frontend/packages/i18n/src/locales/zh-CN/reader.json
  frontend/packages/types/src/models.ts
Due: pyright, frontend-lint

Finalize pgvector backend integration updates
  .env.example
  DEPLOY.md
  backend/apps/api/glean_api/main.py
  backend/apps/api/tests/test_score_dependency.py
  backend/apps/worker/glean_worker/tasks/embedding_rebuild.py
  backend/apps/worker/glean_worker/tasks/feed_fetcher.py
  backend/packages/database/glean_database/models/entry_embedding.py
  backend/packages/database/glean_database/models/user_preference_vector.py
  backend/packages/vector/glean_vector/config.py
  backend/packages/vector/glean_vector/services/validation_service.py
  backend/packages/vector/tests/test_pgvector_client.py
  backend/packages/vector/tests/test_vector_config.py
Due: pyright

Improve readability in full-text extraction paths.
  backend/apps/api/glean_api/routers/entries.py
  backend/apps/worker/glean_worker/tasks/entry_fulltext.py
  backend/packages/rss/glean_rss/extractor.py
Due: pyright

fix: initialize vector schema during API startup
  backend/apps/api/glean_api/dependencies.py
  backend/apps/api/glean_api/main.py
Due: pyright

fix: enforce vector model signature compatibility and harden storage init
  backend/apps/api/glean_api/dependencies.py
  backend/apps/api/tests/test_score_dependency.py
  backend/packages/vector/glean_vector/clients/milvus_client.py
  backend/packages/vector/glean_vector/clients/pgvector_client.py
  backend/packages/vector/glean_vector/services/embedding_service.py
  backend/packages/vector/glean_vector/services/validation_service.py
  backend/packages/vector/tests/test_embedding_service.py
  backend/packages/vector/tests/test_milvus_error_handling.py
  backend/packages/vector/tests/test_pgvector_client.py
Due: pyright

fix: make pgvector schema backend-aware and non-destructive on rebuild
  backend/packages/database/glean_database/migrations/versions/b51dbf4f4d2a_add_pgvector_backend_tables.py
  backend/packages/vector/glean_vector/clients/pgvector_client.py
  backend/packages/vector/tests/test_pgvector_client.py
  backend/uv.lock
Due: pyright

fix: harden pgvector schema consistency and rebuild edge cases
  backend/apps/api/glean_api/main.py
  backend/apps/api/glean_api/routers/admin.py
  backend/apps/api/glean_api/routers/system.py
  backend/apps/worker/glean_worker/main.py
  backend/apps/worker/glean_worker/tasks/embedding_maintenance.py
  backend/apps/worker/glean_worker/tasks/embedding_rebuild.py
  backend/packages/vector/glean_vector/clients/milvus_client.py
  backend/packages/vector/glean_vector/clients/pgvector_client.py
  backend/packages/vector/glean_vector/clients/vector_store.py
  backend/packages/vector/glean_vector/services/score_service.py
  backend/packages/vector/tests/test_pgvector_client.py
Due: pyright

feat(electron): add first-launch server setup onboarding
  frontend/apps/web/src/App.tsx
  frontend/apps/web/src/components/ApiConfigDialog.tsx
  frontend/apps/web/src/lib/serverConnection.ts
  frontend/apps/web/src/pages/LoginPage.tsx
  frontend/apps/web/src/pages/ServerSetupPage.tsx
  frontend/packages/i18n/src/locales/en/auth.json
  frontend/packages/i18n/src/locales/zh-CN/auth.json
Due: frontend-lint

Path conditions:
  pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
